extends layout.pug

block content
    .container
        h1 Trip Planner
        p Welcome to my trip planner application.  To plan a trip:
        ol
            li Sign up for an account.  It's easy and we promise not to share your data.
            li Click "Create Trip" from your profile or on the "Trips" page.
            li Fill in a few simple details.
            li Invite your friends!  Don't forget to give them the passcode you selected and trip ID number!
        