extends layout.pug

block content
    div
        h3 Resources
            br
            a(href="https://www.airbnb.com/") Airbnb
            br
            a(href='https://www.kayak.com/') Kayak
            br
            a(href='https://www.hotels.com/') Hotels.com
            br
    div
        h3 Info
            br
            p How to use this sight.... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus veritatis tempore aliquid optio doloremque adipisci facere explicabo dolorem quibusdam ex non illum quam voluptate, repudiandae harum, animi qui? Fugit, earum.
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam tempora expedita eaque iste sit eum mollitia laboriosam voluptatem enim a quibusdam, tempore consectetur ducimus voluptates repellendus amet laborum ipsa laudantium!
    div
        