html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
    block head
  body
    h1 Trip Planner
        nav   
            a(href="/") Home
            a(href="/trips") Trips
        if !user
            nav
                a(href="/users/login") Log In
                a(href="/users/signup") Sign Up
        if user
            nav
                a(href="/users/profile") Profile
                a(href="/users/logout") Log Out
    main
        if (message && message.length > 0)
            div.container.alert-danger.alert #{message}
        block content
    
        

    footer
        p Created by Jeff Heller
        a(href="#") Help
        a(href="#") About
        p Contact me: 
            a(href="mailto:heller.jeffrey@gmail.com") heller.jeffrey@gmail.com