html
  head
    title= title
        block head
  body
    h1 Trip Planner
        nav   
            a(href="/") Home
            a(href="/trips") Trips
        nav
            a(href="/users/login") Log In
            a(href="/users/signup") Sign Up
    main
        block content
    script
        block script

    footer
        p Created by Jeff Heller