extends layout.pug

block content

    .container.w-50
        .card.p-3
            .d-flex.justify-content-center
                h4 Sign in:
            form(method="POST" action='/users/login')
                div.form-group
                    label(for="email") Email:
                    input.form-control(type="text" placeholder="example@email.com" name='email')
                div.form-group
                    label(for="password") Password:
                    input.form-control(type="password" placeholder="password" name='password')
                button.btn.btn-primary(type="submit") Log In

            .alert.alert-warning New user? Sign up here:
                a.ml-2.btn.btn-warning(href='/users/signup') Create Account