extends ../layout.pug

block content
    p this is the edit page on the trips controller

    h3 Edit Trip
    form(method="POST" action=`/trips/edit/${trip.id}?_method=PUT`)
        label(for="name") Trip Name:
        input(type="text" placeholder=`${trip.name}` name='name')
        button(type="submit") Edit Trip

    h3 Delete Trip
    form(method="POST" action=`/trips/${trip.id}?_method=DELETE`)
        button(type="submit") Delete Trip