extends ../layout.pug


block content
    - trips = trips
    .container.justify-content-center.d-flex
        a.btn.btn-primary(href="/trips/new") Create New Trip
    ul
        each trip in trips
            li
                div
                    h4 #{trip.name}
                    a.btn.btn-success(href="/trips/show/"+ trip.id) Details
                    a.btn.btn-warning(href="/trips/edit/"+ trip.id) Edit
                p Created: #{trip.createdAt}


