extends ../layout.pug


block content
    - trips = trips
    

    a(href="/trips/new") Create New Trip
    ol
        each trip in trips
            li
                h4 #{trip.name}
                p Created: #{trip.createdAt}
                div 
                    a(href="/trips/edit/#{trip.id}") Edit
                    a(href="/trips/show/#{trip.id}") Details
