extends ../layout.pug

block content
    .alert.alert-secondary Fill out the form below to create a trip.  You will be able to add additional details later.
    .container
        form(method="POST" action='/trips/new')
            .form-group
                label(for="name") Trip Name*:
                input.form-control(type="text" placeholder="name your trip" name='name')
            .form-group
                label(for="city") Destination (City, ST)*:
                input.form-control(type="text" placeholder="destination" name='city')
            .form-group
                label(for="passcode") Passcode**:
                input.form-control(type="password" name="passcode")
  
            button.btn.btn-primary(type="submit") Create Trip

    .alert.alert-light * Required
        p ** Your passcode will be required for any users to join your trip.  If you forget the passcode or need to change it, click Edit Trip at any time to reset it.